Resources/xml/7.0/xmlportletfactory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.xmlportletfactory.org/xml/xmlportletfactory" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.xmlportletfactory.org/xml/xmlportletfactory" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="definition">
		<xs:complexType>
			<xs:all>
				<xs:element name="commonData">
					<xs:complexType>
						<xs:all>
							<xs:element name="client" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="3"/>
										<xs:whiteSpace value="collapse"/>
										<xs:pattern value="[A-Za-z0-9\.]*"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="projectName" nillable="false">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="3"/>
										<xs:whiteSpace value="collapse"/>
										<xs:pattern value="[A-Za-z]*"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="version" type="xs:short" minOccurs="0"/>
							<xs:element name="bbddApplicationsData" minOccurs="0" nillable="true">
								<xs:complexType>
									<xs:all>
										<xs:element name="driver" nillable="false">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="3"/>
													<xs:whiteSpace value="collapse"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="url" nillable="false">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="3"/>
													<xs:whiteSpace value="collapse"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="username" type="xs:string" nillable="true"/>
										<xs:element name="password" type="xs:string"/>
										<xs:element name="maxactive" type="xs:unsignedShort" default="20" nillable="false"/>
										<xs:element name="poolable" type="xs:boolean" default="true"/>
									</xs:all>
								</xs:complexType>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="applications">
					<xs:complexType>
						<xs:sequence maxOccurs="255">
							<xs:element name="application">
								<xs:complexType>
									<xs:sequence>										
										<xs:element name="classDef" nillable="false" maxOccurs="1">
											<xs:complexType>
												<xs:all>
													<xs:element name="name" nillable="false">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="3"/>
																<xs:whiteSpace value="collapse"/>
																<xs:pattern value="[A-Za-z0-9]*"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="title" nillable="false">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="mode" nillable="true" minOccurs="0">
														<xs:complexType>
															<xs:all>
																<xs:element name="add" type="xs:boolean" default="true" nillable="false"/>
																<xs:element name="delete" type="xs:boolean" default="true"/>
																<xs:element name="modify" type="xs:boolean" default="true"/>
																<xs:element name="browse" type="xs:boolean" default="true"/>
															</xs:all>
														</xs:complexType>
													</xs:element>
													<xs:element name="generatePortlet" type="xs:boolean" default="true" minOccurs="0"/>
													<xs:element name="restrictBy" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="companyId" type="xs:boolean" default="true" minOccurs="0"/>
																<xs:element name="groupId" type="xs:boolean" default="false" minOccurs="0"/>
																<xs:element name="userId" type="xs:boolean" default="false" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="workflow" type="xs:boolean" default="false" minOccurs="0" maxOccurs="1"/>
													<xs:element name="trash" type="xs:boolean" default="false" minOccurs="0" maxOccurs="1"/>
													<xs:element name="generateActivity" type="xs:boolean" default="false" minOccurs="0" maxOccurs="1"/>
													<xs:element name="showInControlPanel" type="xs:boolean" default="false" minOccurs="0" maxOccurs="1"/>
													<xs:element name="asset" nillable="true" minOccurs="0">
														<xs:complexType>
															<xs:all>
																<xs:element name="assetTitleFieldName" nillable="false" default="title"  minOccurs="1" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="3"/>
																			<xs:whiteSpace value="collapse"/>
																			<xs:pattern value="[A-Za-z0-9]*" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="assetSummaryFieldName" nillable="false" default="description" minOccurs="1" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string" >
																			<xs:minLength value="3"/>
																			<xs:whiteSpace value="collapse"/>
																			<xs:pattern value="[A-Za-z0-9]*"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="fullContentFieldName" nillable="false" default="description" minOccurs="1" maxOccurs="1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string" >
																			<xs:minLength value="3"/>
																			<xs:whiteSpace value="collapse"/>
																			<xs:pattern value="[A-Za-z0-9]*"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="discussion" type="xs:boolean" default="false" minOccurs="1" maxOccurs="1"/>
																<xs:element name="ratings" type="xs:boolean" default="false" minOccurs="1" maxOccurs="1"/>
																<xs:element name="categories" type="xs:boolean" default="false" minOccurs="1" maxOccurs="1"/>
																<xs:element name="tags" type="xs:boolean" default="false" minOccurs="1" maxOccurs="1"/>
																<xs:element name="relatedAssets" type="xs:boolean" default="false" minOccurs="1" maxOccurs="1"/>
															</xs:all>
														</xs:complexType>
													</xs:element>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="fileDef" nillable="false" maxOccurs="1">
											<xs:complexType>
												<xs:all>
													<xs:element name="name" nillable="false">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="3"/>
																<xs:whiteSpace value="collapse"/>
																<xs:pattern value="[a-zA-Z0-9_]*"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="fields">
														<xs:complexType>
															<xs:sequence maxOccurs="255">
																<xs:element name="field">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="name" nillable="false">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:minLength value="3"/>
																						<xs:whiteSpace value="collapse"/>
																						<xs:pattern value="[a-zA-Z0-9_]*"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="title" nillable="false">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:minLength value="1"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="type">
																				<xs:complexType>
																					<xs:choice>
																						<xs:element name="calculated">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:minLength value="3"/>
																									<xs:whiteSpace value="collapse"/>
																									<xs:pattern value="([a-zA-Z0-9_*+-/()\s])*"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="int">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="length" type="xs:unsignedShort" nillable="false"/>
																									<xs:element name="signed" type="xs:boolean" default="false"/>
																									<xs:element name="zerofill" type="xs:boolean" default="true"  minOccurs="0"/>
																									<xs:element name="nullable" type="xs:boolean" default="false"/>
																									<xs:element name="regexp" type="xs:string" minOccurs="0" />
																									<xs:element name="order" type="xs:boolean"  default="false" minOccurs="0" />
																									<xs:element name="unique" type="xs:boolean"  default="false" minOccurs="0" />
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="long">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="length" type="xs:unsignedShort" nillable="false"/>
																									<xs:element name="signed" type="xs:boolean" default="false"/>
																									<xs:element name="nullable" type="xs:boolean" default="false"/>
																									<xs:element name="regexp" type="xs:string" minOccurs="0" />
																									<xs:element name="order" type="xs:boolean"  default="false" minOccurs="0" />
																									<xs:element name="unique" type="xs:boolean"  default="false" minOccurs="0" />
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="numeric">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="length" type="xs:unsignedShort"/>
																									<xs:element name="decimals" type="xs:unsignedShort"/>
																									<xs:element name="regexp" type="xs:string" minOccurs="0" />
																									<xs:element name="order" type="xs:boolean"  default="false" minOccurs="0" />
																									<xs:element name="unique" type="xs:boolean"  default="false" minOccurs="0" />
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="float">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="length" type="xs:unsignedShort"/>
																									<xs:element name="decimals" type="xs:unsignedShort"/>
																									<xs:element name="regexp" type="xs:string" minOccurs="0" />
																									<xs:element name="order" type="xs:boolean"  default="false" minOccurs="0" />
																									<xs:element name="unique" type="xs:boolean"  default="false" minOccurs="0" />
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="date">
																							<xs:complexType>
																								<xs:all minOccurs="0">
																									<xs:element name="order" type="xs:boolean" default="false"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="datetime">
																							<xs:complexType>
																								<xs:all minOccurs="0">
																									<xs:element name="order" type="xs:boolean" default="false"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="timestamp" type="xs:dateTime"/>
																						<xs:element name="enum">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="values" type="xs:string" default="'SI','NO'" nillable="false"/>
																									<xs:element name="default" type="xs:string" default="'SI'" nillable="false"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="varchar">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="length" type="xs:unsignedShort"/>
																									<xs:element name="regexp" type="xs:string" minOccurs="0" />
																									<xs:element name="order" type="xs:string" minOccurs="0" />
																									<xs:element name="unique" type="xs:boolean"  default="false" minOccurs="0" />
																									<xs:element name="filter" type="xs:string" minOccurs="0" />
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="text"/>
																						<xs:element name="richtext"/>
																						<xs:element name="boolean"/>
																						<xs:element name="image"/>
																						<xs:element name="document"/>
																						<xs:element name="documentlibrary"/>
																					</xs:choice>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="showFieldInView" type="xs:boolean" default="true"/>
																			<xs:element name="required" type="xs:boolean" default="false" minOccurs="0"/>
																			<xs:element name="validation" minOccurs="0">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="className" type="xs:Name" minOccurs="1"  maxOccurs="1"/>
																						<xs:element name="fieldName" type="xs:Name" minOccurs="1"  maxOccurs="1"/>
																						<xs:element name="orderByField" type="xs:Name" minOccurs="1"  maxOccurs="1"/>
																						<xs:element name="depends"  minOccurs="0"  maxOccurs="1">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="localFieldName" nillable="false"  minOccurs="1"  maxOccurs="1">
																										<xs:simpleType>
																											<xs:restriction base="xs:string">
																												<xs:minLength value="3"/>
																												<xs:whiteSpace value="collapse"/>
																												<xs:pattern value="[a-zA-Z0-9_]*"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									<xs:element name="againstFieldName" nillable="false" minOccurs="1" maxOccurs="1">
																										<xs:simpleType>
																											<xs:restriction base="xs:string">
																												<xs:minLength value="3"/>
																												<xs:whiteSpace value="collapse"/>
																												<xs:pattern value="[a-zA-Z0-9_]*"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:all>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="autoKey" type="xs:boolean" default="true" nillable="true" minOccurs="0"/>
													<xs:element name="poolable" type="xs:boolean" default="true" nillable="true" minOccurs="0"/>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="detailFiles" minOccurs="0">
											<xs:complexType>
												<xs:sequence maxOccurs="255">
													<xs:element name="detailFile"  nillable="true" minOccurs="1">
														<xs:complexType>
															<xs:all>
																<xs:element name="detailFileClassName" nillable="false">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:pattern value="[a-zA-Z0-9]*"/>
																			<xs:whiteSpace value="collapse"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="connectionFieldName" nillable="false">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:pattern value="[a-zA-Z0-9_]*"/>
																			<xs:whiteSpace value="collapse"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="connectionTitle" nillable="false"> 
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:pattern value="(.)+"/>
																			<xs:whiteSpace value="replace"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:all>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="bbddFileData" minOccurs="0">
											<xs:complexType>
												<xs:all>
													<xs:element name="driver" nillable="false">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="3"/>
																<xs:whiteSpace value="collapse"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="url" nillable="false">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="3"/>
																<xs:whiteSpace value="collapse"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="username" type="xs:string" nillable="true"/>
													<xs:element name="password" type="xs:string"/>
													<xs:element name="maxactive" type="xs:unsignedShort" default="20" nillable="false"/>
												</xs:all>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
